<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body>
    <header>
      {% assign url_parts = page.url | split: '/' %}
      {% assign url_parts_size = url_parts | size %}
      {% assign rm = url_parts | last %}
      {% assign base_url = page.url | replace: rm %}
      <nav>
        {% for node in site.pages %}
          {% if node.url contains base_url %}
            {% assign node_url_parts = node.url | split: '/' %}
            {% assign node_url_parts_size = node_url_parts | size %}
            {% assign filename = node_url_parts | last %}
            {% if node.nav == true %}
              <span><a href='{{node.url}}'>{{node.title}}</a></span>
            {% endif %}
          {% endif %}
        {% endfor %}
      </nav>
      <p class="title">{{ site.title }}</p>
      <div class="header-cta"><a href="/contact/">Get Started!</a></div>
    </header>
    <section class="content">
      {{ content }}
    </section>
    <footer>
      &copy; to me
    </footer>
  </body>
</html>
